In [1]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [2]:
df= pd.read_csv('/Users/omsitapara/Desktop/DiagnoSafe/Dataset/diabetes_prediction_dataset.csv')

In [3]:
df.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

In [4]:
df.tail()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gender               100000 non-null  object
 1   age                  100000 non-null  float64
 2   hypertension         100000 non-null  int64
 3   heart_disease        100000 non-null  int64
 4   smoking_history      100000 non-null  object
 5   bmi                  100000 non-null  float64
 6   HbA1c_level          100000 non-null  float64
 7   blood_glucose_level  100000 non-null  int64
 8   diabetes             100000 non-null  int64
dtypes: float64(3), int64(4), object(2)
memory usage: 6.9+ MB

In [6]:
df.duplicated().sum()

3857

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.duplicated().sum()

0

In [9]:
df.isna().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
smoking_history        0
bmi                    0
HbA1c_level            0
blood_glucose_level    0
diabetes               0
dtype: int64

In [10]:
df.nunique()

gender                    2
age                     102
hypertension              2
heart_disease             2
smoking_history           6
bmi                    4247
HbA1c_level              18
blood_glucose_level      18
diabetes                  2
dtype: int64

In [11]:
numeric_col=['age', 'bmi', 'HbA1c_level', 'blood_glucose_level']
non_numeric_col=['gender', 'hypertension', 'heart_disease', 'smoking_history', 'diabetes']

In [12]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for col in non_numeric_col:
    df[col]=le.fit_transform(df[col])
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,0,80.0,0,1,4,25.19,6.6,140,0
1,0,54.0,0,0,0,27.32,6.6,80,0
2,1,28.0,0,0,4,27.32,5.7,158,0
3,0,36.0,0,0,1,23.45,5.0,155,0
4,1,76.0,1,1,1,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99994,0,36.0,0,0,0,24.60,4.8,145,0
99996,0,2.0,0,0,0,17.37,6.5,100,0
99997,1,66.0,0,0,3,27.83,5.7,155,0
99998,0,24.0,0,0,4,35.42,4.0,100,0
99999,0,57.0,0,0,1,22.43,6.6,90,0

In [13]:
df.corr()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
gender,1.000000,-0.028742,0.014140,0.078465,-0.079420,-0.023484,0.019943,0.017816,0.037775
age,-0.028742,1.000000,0.257301,0.238449,0.241095,0.344805,0.106677,0.114339,0.264922
hypertension,0.014140,0.257301,1.000000,0.119980,0.087884,0.148111,0.081433,0.084839,0.195707
heart_disease,0.078465,0.238449,0.119980,1.000000,0.023600,0.061376,0.068134,0.070836,0.170709
smoking_history,-0.079420,0.241095,0.087884,0.023600,1.000000,0.183844,0.035475,0.038278,0.088461
bmi,-0.023484,0.344805,0.148111,0.061376,0.183844,1.000000,0.084426,0.092543,0.214932
HbA1c_level,0.019943,0.106677,0.081433,0.068134,0.035475,0.084426,1.000000,0.171642,0.406412
blood_glucose_level,0.017816,0.114339,0.084839,0.070836,0.038278,0.092543,0.171642,1.000000,0.424343
diabetes,0.037775,0.264922,0.195707,0.170709,0.088461,0.214932,0.406412,0.424343,1.000000

In [14]:
df.drop(columns='smoking_history',inplace=True)

In [15]:
df

,gender,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes
0,0,80.0,0,1,25.19,6.6,140,0
1,0,54.0,0,0,27.32,6.6,80,0
2,1,28.0,0,0,27.32,5.7,158,0
3,0,36.0,0,0,23.45,5.0,155,0
4,1,76.0,1,1,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...
99994,0,36.0,0,0,24.60,4.8,145,0
99996,0,2.0,0,0,17.37,6.5,100,0
99997,1,66.0,0,0,27.83,5.7,155,0
99998,0,24.0,0,0,35.42,4.0,100,0
99999,0,57.0,0,0,22.43,6.6,90,0

In [16]:
X=df.drop(columns='diabetes',axis=1)
Y=df['diabetes']

In [17]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2,stratify=Y,random_state=2)
X.shape , X_test.shape , X_train.shape

((96143, 7), (19229, 7), (76914, 7))

In [18]:
sv=svm.SVC(kernel='linear')
sv.fit(X_train,Y_train)
XS_train_pred=sv.predict(X_train)
XS_train_acc=accuracy_score(XS_train_pred,Y_train)
print("SVC Training Accuracy : ", XS_train_acc*100)
XS_test_pred=sv.predict(X_test)
XS_test_acc=accuracy_score(XS_test_pred,Y_test)
print("SVC Testing Accuracy : ", XS_test_acc*100)

SVC Training Accuracy :  95.83560860181501
SVC Testing Accuracy :  96.03723542565916

In [19]:
rf=RandomForestClassifier(n_estimators=100,random_state=42)
rf.fit(X_train,Y_train)
XR_train_pred=rf.predict(X_train)
XR_train_acc=accuracy_score(XR_train_pred,Y_train)
print("RFC Training Accuracy : ", XR_train_acc*100)
XR_test_pred=rf.predict(X_test)
XR_test_acc=accuracy_score(XR_test_pred,Y_test)
print("RFC Testing Accuracy : ", XR_test_acc*100)

RFC Training Accuracy :  99.79717606677589
RFC Testing Accuracy :  96.92131676114202

In [20]:
lr=LogisticRegression()
lr.fit(X_train,Y_train)
XL_train_pred=lr.predict(X_train)
XL_train_acc=accuracy_score(XL_train_pred,Y_train)
print("LR Training Accuracy : ", XL_train_acc*100)
XL_test_pred=lr.predict(X_test)
XL_test_acc=accuracy_score(XL_test_pred,Y_test)
print("LR Testing Accuracy : ", XL_test_acc*100)

LR Training Accuracy :  95.7862027719271
LR Testing Accuracy :  95.9540277705549

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [21]:
import pickle

In [22]:
filename='DiabetesTrainedModel.pkl'
pickle.dump(rf,open(filename,'wb'))

In [23]:
diabetes_model= pickle.load(open('/Users/omsitapara/Desktop/DiagnoSafe/TrainedModel/DiabetesTrainedModel.pkl','rb'))

In [24]:
input_data = (0,44,0,0,19.31,6.5,200)
input_data_array=np.asarray(input_data)
input_data_reshaped = input_data_array.reshape(1,-1)
prediction = diabetes_model.predict(input_data_reshaped)
print(prediction)
if (prediction[0] == 0):
  print('The person is not likely to be diabetic')
else:
  print('The person is likely to be diabetic. Please consult a Physician and Take Care')

[1]
The person is likely to be diabetic. Please consult a Physician and Take Care

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(